<!DOCTYPE html>
<html ng-app="firstApp">
    <head>
        <meta charset="utf-8">
        <title>First node + angular app</title>
        <link rel="stylesheet" href="../public/assets/css/deps.min.css" >
        <link rel="stylesheet" href="../public/assets/css/app.min.css" >
    </head>
    <body class="skin-blue fixed sidebar-mini">
        <div class="wrapper">
            <header class="main-header" ng-include="'/template/header.html'"></header>
            <asside class="main-sidebar" ng-include="'/template/menu.html'"></asside>
            <div class="content-wrapper" ui-view></div>
            <footer class="main-footer" ng-include="'/template/footer.html'"></footer>
        </div>
        <script src="../public/assets/js/deps.min.js"></script>
        <script src="../public/assets/js/app.min.js"></script>
    </body>
</html>